*,
*::before,
*::after{
    box-sizing: border-box;
}
* {
    margin: 0;

}
/* The given CSS code snippet is a common reset style, used to create a more consistent and predictable layout across different browsers by standardizing some fundamental styles
  The box-sizing property controls how the width and height of an element are calculated. With box-sizing: border-box;, the width and height include the content, padding, and border, but not the margin.
   This makes it easier to manage the size of elements and helps to avoid layout issues where padding and border could otherwise increase the size of elements beyond their intended dimensions.
   */
:root{
    --clr-dark: rgb(1, 37, 66);
    --clr-light: rgb(255, 238, 0);
}

body{
    background-color: var(--clr-dark);
    width: 90%;
    margin-inline: auto;
}
.scroll-element{
   width: 100px;
   height: 100px;
   background-color: var(--clr-light);
   margin-bottom: 500px;
   margin-left: 60%;
   transform: scale(0);
   transition: all 0.5s;
   
   position: sticky;
   
}
.scroll-element.visible{
    transform: scale(1);
}

img{
    width: 200px;
    height: auto;
}
p{
    width: 190px;
    height: auto;
    text-align: justify;
}


.box{
    background-color: grey;
    width: 300px;
    height: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.container{
    border: 3px solid black;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 30px;
    grid-template-rows: auto auto auto; 

}

.sbox{
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(/images/WhatsApp\ Image\ 2024-05-16\ at\ 2.05.31\ AM.jpeg);
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
grid-row: 1/4;

  
}

/*.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(150px,1fr));
    grid-template-rows: auto auto auto;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 30px;
    
}

.sbox{
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(/images/WhatsApp\ Image\ 2024-05-16\ at\ 2.05.31\ AM.jpeg);
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1/4;
}
*/
